<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>第五大道:中国首家奢侈品和商务礼品销售中心，Gucci、Prada 普拉达、Burberry 巴宝莉、Cartier 卡地亚、Tiffany、Coach</title>
    <link rel="Shortcut Icon" type="image/x-icon" href="../img/5lux.ico">        
    <link rel="stylesheet" href="../css/ad/ad.css">
</head>
<body>
    <!-- content -->
    <div class="main_box">
        <div class="main">
            <div>
                <img src="../img/ad/01_j.jpg" alt="">
                <img src="../img/ad/02_j.jpg" alt="">
            </div>
            <div class="video">
                <video src="http://7xs4ua.com1.z0.glb.clouddn.com/%E4%B8%BA%E9%82%A3%E4%BA%9B%E6%88%91%E4%BB%AC%E6%89%80%E7%8F%8D%E8%A7%86%E7%9A%84.mp4" controls width="750" height="390"></video>
            </div>
            <div>
                <img src="../img/ad/04_j.jpg" alt="">
                <img src="../img/ad/05_j.jpg" alt="">
            </div>
            <div>
                <a href="#">
                    <img src="../img/ad/06_j.jpg" alt="">
                </a>
            </div>
            <div class="main_map">
                <ul class="clearfix">
                    <li>
                        <a href="#">
                            <img src="../img/ad/1_p.png" alt="">
                            <span>【改变铸就不凡】</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../img/ad/2_p.png" alt="">
                            <span>【风雨同舟7年，感谢一路有你】</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../img/ad/3_p.png" alt="">
                            <span>【第五大道o2o新模式】</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- nav -->
    <div class="nav_list">
        <ul class="list">
            <li><a href="#">首页</a></li>
            <li><a href="#">最新上架</a></li>
            <li><a href="#">所有品牌</a></li>
            <li><a href="#">女士</a></li>
            <li><a href="#">男士</a></li>
            <li><a href="#">腕表</a></li>
            <li><a href="#">箱包</a></li>
            <li><a href="#">美妆</a></li>
            <li><a href="#">生活馆</a></li>
            <li><a href="#">海外馆</a></li>
            <li><a href="#">时尚专题</a></li>
            <li class="list_item"><img src="../img/ad/ce_top.png" alt=""></li>
        </ul>
    </div>
    <script src="../js/jquery.js"></script>
    <script src="../js/ad.js"></script>
</body>
</html>