<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>【CK旗舰店】-第五大道奢侈品网，www.5lux.com</title>
    <link rel="Shortcut Icon" type="image/x-icon" href="../img/5lux.ico">        
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/right-menu.css/right-menu.css">
    <link rel="stylesheet" href="../css/brand_about/brand_about.css">
</head>
<body>
    <!-- 旗舰店头部 -->
    <div class="fs_head clearfix">
        <div class="head_left">
            <ul class="clearfix">
                <li class="head_left_item">
                    <a href="./index.html">第五大道</a>
                </li>
                <li>
                    <a href="./login.html">登录</a>/<a href="./register.html">注册</a>
                </li>
            </ul>
        </div>
        <div class="head_right">
            <ul class="clearfix">
                <li class="search">
                    <form action="">
                        <input type="text" placeholder="搜索">
                        <i></i>
                    </form> 
                </li>
                <li class="fsh_help">
                    <a href="#">
                        <i></i>
                        帮助中心
                    </a>
                </li>
                <li class="fsh_fashion">
                    <a href="#">
                        <i></i>
                        时尚顾问
                    </a>
                </li>
                <li class="fsh_bag">
                    <a href="./cart.html">
                        <i></i>
                        购物袋（<b>0</b>）
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- logo -->
    <div class="fsh_logoline">
        <div class="fsh_logo">
            <a href="#">
                <img src="../img/brand_about/logo.png" alt="">
            </a>
        </div>
        <div class="fsh_links">
            <ul class="clearfix">
                <li class="active"><a href="#">首页</a></li>
                <li><a href="#">商品</a></li>
                <li><a href="#">到店</a></li>
            </ul>
            <div class="fsh_btn">关注</div>
        </div>
    </div>
    <!-- content -->
    <div class="fs_main">
        <!-- banner -->
        <div class="banner">
            <div class="banner_img"></div>
        </div>
        <div class="w">
            <!-- 广告区 -->
            <div class="fsmb_ad">
                <ul class="clearfix">
                    <li>
                        <a href="#new_product" class="clearfix">
                            <img src="../img/brand_about/flagdata1.jpg" alt="">
                            <img src="../img/brand_about/flagdata2.jpg" alt="">
                            <i class="fsmb_left"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#select" class="clearfix">
                            <img src="../img/brand_about/flagdata3.jpg" alt="">
                            <img src="../img/brand_about/flagdata4.jpg" alt="">
                            <i class="fsmb_right"></i>                            
                        </a>
                    </li>
                </ul>
            </div>
            <!-- 新品上市 -->
            <div class="headings_box" id="new_product">
                <div class="headings">
                    <div class="headings_head"></div>
                    <div class="headings_line"></div>
                    <div class="headings_text">新品上市</div>
                </div>
            </div>
            <!-- 商品列表-新品上市 -->
            <div class="st_block">
                <ul class="clearfix list">
                    <li class="item">
                        <div class="item_merchandise">
                           <a href="#">
                                <img src="../img/brand_about/merchandise.jpg" width="267" alt="">   
                            </a>
                        </div>
                        <div class="item_brands">
                            <a href="#">Calvin Klein CK卡尔文.克莱恩</a>
                        </div>
                        <div class="item_profile">
                            <a href="#">灰色银边棉质平角盒装男士内裤2件套</a>
                        </div>
                        <span>¥199</span>
                    </li>
                    <li class="item">
                        <div class="item_merchandise">
                           <a href="#">
                                <img src="../img/brand_about/merchandise.jpg" width="267" alt="">   
                            </a>
                        </div>
                        <div class="item_brands">
                            <a href="#">Calvin Klein CK卡尔文.克莱恩</a>
                        </div>
                        <div class="item_profile">
                            <a href="#">灰色银边棉质平角盒装男士内裤2件套</a>
                        </div>
                        <span>¥199</span>
                    </li>
                    <li class="item">
                        <div class="item_merchandise">
                           <a href="#">
                                <img src="../img/brand_about/merchandise.jpg" width="267" alt="">   
                            </a>
                        </div>
                        <div class="item_brands">
                            <a href="#">Calvin Klein CK卡尔文.克莱恩</a>
                        </div>
                        <div class="item_profile">
                            <a href="#">灰色银边棉质平角盒装男士内裤2件套</a>
                        </div>
                        <span>¥199</span>
                    </li>
                    <li class="item">
                        <div class="item_merchandise">
                           <a href="#">
                                <img src="../img/brand_about/merchandise.jpg" width="267" alt="">   
                            </a>
                        </div>
                        <div class="item_brands">
                            <a href="#">Calvin Klein CK卡尔文.克莱恩</a>
                        </div>
                        <div class="item_profile">
                            <a href="#">灰色银边棉质平角盒装男士内裤2件套</a>
                        </div>
                        <span>¥199</span>
                    </li>
                    <li class="item">
                        <div class="item_merchandise">
                           <a href="#">
                                <img src="../img/brand_about/merchandise.jpg" width="267" alt="">   
                            </a>
                        </div>
                        <div class="item_brands">
                            <a href="#">Calvin Klein CK卡尔文.克莱恩</a>
                        </div>
                        <div class="item_profile">
                            <a href="#">灰色银边棉质平角盒装男士内裤2件套</a>
                        </div>
                        <span>¥199</span>
                    </li>
                    <li class="item">
                        <div class="item_merchandise">
                           <a href="#">
                                <img src="../img/brand_about/merchandise.jpg" width="267" alt="">   
                            </a>
                        </div>
                        <div class="item_brands">
                            <a href="#">Calvin Klein CK卡尔文.克莱恩</a>
                        </div>
                        <div class="item_profile">
                            <a href="#">灰色银边棉质平角盒装男士内裤2件套</a>
                        </div>
                        <span>¥199</span>
                    </li>
                    <li class="item">
                        <div class="item_merchandise">
                           <a href="#">
                                <img src="../img/brand_about/merchandise.jpg" width="267" alt="">   
                            </a>
                        </div>
                        <div class="item_brands">
                            <a href="#">Calvin Klein CK卡尔文.克莱恩</a>
                        </div>
                        <div class="item_profile">
                            <a href="#">灰色银边棉质平角盒装男士内裤2件套</a>
                        </div>
                        <span>¥199</span>
                    </li>
                    <li class="item">
                        <div class="item_merchandise">
                           <a href="#">
                                <img src="../img/brand_about/merchandise.jpg" width="267" alt="">   
                            </a>
                        </div>
                        <div class="item_brands">
                            <a href="#">Calvin Klein CK卡尔文.克莱恩</a>
                        </div>
                        <div class="item_profile">
                            <a href="#">灰色银边棉质平角盒装男士内裤2件套</a>
                        </div>
                        <span>¥199</span>
                    </li>
                </ul>
            </div>
            <!-- 精选推荐 -->
            <div class="headings_box" id="select">
                <div class="headings">
                    <div class="headings_head recmmend"></div>
                    <div class="headings_line"></div>
                    <div class="headings_text">精选推荐</div>
                </div>
            </div>
            <!-- 商品列表-精选推荐 -->            
            <div class="st_block">
                <ul class="clearfix list">
                    <li class="item">
                        <div class="item_merchandise">
                           <a href="#">
                                <img src="../img/brand_about/merchandise.jpg" width="267" alt="">   
                            </a>
                        </div>
                        <div class="item_brands">
                            <a href="#">Calvin Klein CK卡尔文.克莱恩</a>
                        </div>
                        <div class="item_profile">
                            <a href="#">Glam透明系列 黑色极简透明表盘石英中性腕表 CK手表 时装表 女表 K9423107</a>
                        </div>
                        <span>¥199</span>
                    </li>
                </ul>
            </div>
            <!-- 箱包系列 -->
            <div class="headings_box">
                <div class="headings">
                    <div class="headings_head bags"></div>
                    <div class="headings_line"></div>
                    <div class="headings_img"></div>
                </div>
            </div>
            <!-- 商品列表-箱包系列-->            
            <div class="st_block">
                <ul class="clearfix list">
                    <li class="item">
                        <div class="item_merchandise">
                           <a href="#">
                                <img src="../img/brand_about/merchandise.jpg" width="267" alt="">   
                            </a>
                        </div>
                        <div class="item_brands">
                            <a href="#">Calvin Klein CK卡尔文.克莱恩</a>
                        </div>
                        <div class="item_profile">
                            <a href="#">Glam透明系列 黑色极简透明表盘石英中性腕表 CK手表 时装表 女表 K9423107</a>
                        </div>
                        <span>¥199</span>
                    </li>
                    <li class="item">
                        <div class="item_merchandise">
                           <a href="#">
                                <img src="../img/brand_about/merchandise.jpg" width="267" alt="">   
                            </a>
                        </div>
                        <div class="item_brands">
                            <a href="#">Calvin Klein CK卡尔文.克莱恩</a>
                        </div>
                        <div class="item_profile">
                            <a href="#">Glam透明系列 黑色极简透明表盘石英中性腕表 CK手表 时装表 女表 K9423107</a>
                        </div>
                        <span>¥199</span>
                    </li>
                </ul>
            </div>
            <!-- 美妆系列 -->
            <div class="headings_box">
                <div class="headings">
                    <div class="headings_head makeup"></div>
                    <div class="headings_line"></div>
                    <div class="headings_img"></div>
                </div>
            </div>
            <!-- 商品列表-美妆系列-->            
            <div class="st_block">
                <ul class="clearfix list">
                    <li class="item">
                        <div class="item_merchandise">
                           <a href="#">
                                <img src="../img/brand_about/merchandise.jpg" width="267" alt="">   
                            </a>
                        </div>
                        <div class="item_brands">
                            <a href="#">Calvin Klein CK卡尔文.克莱恩</a>
                        </div>
                        <div class="item_profile">
                            <a href="#">Glam透明系列 黑色极简透明表盘石英中性腕表 CK手表 时装表 女表 K9423107</a>
                        </div>
                        <span>¥199</span>
                    </li>
                    <li class="item">
                        <div class="item_merchandise">
                           <a href="#">
                                <img src="../img/brand_about/merchandise.jpg" width="267" alt="">   
                            </a>
                        </div>
                        <div class="item_brands">
                            <a href="#">Calvin Klein CK卡尔文.克莱恩</a>
                        </div>
                        <div class="item_profile">
                            <a href="#">Glam透明系列 黑色极简透明表盘石英中性腕表 CK手表 时装表 女表 K9423107</a>
                        </div>
                        <span>¥199</span>
                    </li>
                </ul>
            </div>
            <!-- 服饰系列 -->
            <div class="headings_box">
                <div class="headings">
                    <div class="headings_head dress"></div>
                    <div class="headings_line"></div>
                    <div class="headings_img"></div>
                </div>
            </div> 
            <!-- 商品列表-服饰系列-->            
            <div class="st_block">
                <ul class="clearfix list">
                    <li class="item">
                        <div class="item_merchandise">
                           <a href="#">
                                <img src="../img/brand_about/merchandise.jpg" width="267" alt="">   
                            </a>
                        </div>
                        <div class="item_brands">
                            <a href="#">Calvin Klein CK卡尔文.克莱恩</a>
                        </div>
                        <div class="item_profile">
                            <a href="#">Glam透明系列 黑色极简透明表盘石英中性腕表 CK手表 时装表 女表 K9423107</a>
                        </div>
                        <span>¥199</span>
                    </li>
                    <li class="item">
                        <div class="item_merchandise">
                           <a href="#">
                                <img src="../img/brand_about/merchandise.jpg" width="267" alt="">   
                            </a>
                        </div>
                        <div class="item_brands">
                            <a href="#">Calvin Klein CK卡尔文.克莱恩</a>
                        </div>
                        <div class="item_profile">
                            <a href="#">Glam透明系列 黑色极简透明表盘石英中性腕表 CK手表 时装表 女表 K9423107</a>
                        </div>
                        <span>¥199</span>
                    </li>
                </ul>
            </div>
            <!-- 腕表系列 -->
            <div class="headings_box">
                <div class="headings">
                    <div class="headings_head wristwatch"></div>
                    <div class="headings_line"></div>
                    <div class="headings_img"></div>
                </div>
            </div>
            <!-- 商品列表-腕表系列-->            
            <div class="st_block">
                <ul class="clearfix list">
                    <li class="item">
                        <div class="item_merchandise">
                           <a href="#">
                                <img src="../img/brand_about/merchandise.jpg" width="267" alt="">   
                            </a>
                        </div>
                        <div class="item_brands">
                            <a href="#">Calvin Klein CK卡尔文.克莱恩</a>
                        </div>
                        <div class="item_profile">
                            <a href="#">Glam透明系列 黑色极简透明表盘石英中性腕表 CK手表 时装表 女表 K9423107</a>
                        </div>
                        <span>¥199</span>
                    </li>
                    <li class="item">
                        <div class="item_merchandise">
                           <a href="#">
                                <img src="../img/brand_about/merchandise.jpg" width="267" alt="">   
                            </a>
                        </div>
                        <div class="item_brands">
                            <a href="#">Calvin Klein CK卡尔文.克莱恩</a>
                        </div>
                        <div class="item_profile">
                            <a href="#">Glam透明系列 黑色极简透明表盘石英中性腕表 CK手表 时装表 女表 K9423107</a>
                        </div>
                        <span>¥199</span>
                    </li>
                </ul>
            </div>
            <!-- 鞋靴系列 -->
            <div class="headings_box">
                <div class="headings">
                    <div class="headings_head shoe"></div>
                    <div class="headings_line"></div>
                    <div class="headings_img"></div>
                </div>
            </div>
            <!-- 商品列表-鞋靴系列-->            
            <div class="st_block">
                <ul class="clearfix list">
                    <li class="item">
                        <div class="item_merchandise">
                           <a href="#">
                                <img src="../img/brand_about/merchandise.jpg" width="267" alt="">   
                            </a>
                        </div>
                        <div class="item_brands">
                            <a href="#">Calvin Klein CK卡尔文.克莱恩</a>
                        </div>
                        <div class="item_profile">
                            <a href="#">Glam透明系列 黑色极简透明表盘石英中性腕表 CK手表 时装表 女表 K9423107</a>
                        </div>
                        <span>¥199</span>
                    </li>
                    <li class="item">
                        <div class="item_merchandise">
                           <a href="#">
                                <img src="../img/brand_about/merchandise.jpg" width="267" alt="">   
                            </a>
                        </div>
                        <div class="item_brands">
                            <a href="#">Calvin Klein CK卡尔文.克莱恩</a>
                        </div>
                        <div class="item_profile">
                            <a href="#">Glam透明系列 黑色极简透明表盘石英中性腕表 CK手表 时装表 女表 K9423107</a>
                        </div>
                        <span>¥199</span>
                    </li>
                </ul>
            </div>
            <!-- 配饰系列 -->
            <div class="headings_box">
                <div class="headings">
                    <div class="headings_head accessorize"></div>
                    <div class="headings_line"></div>
                    <div class="headings_img"></div>
                </div>
            </div>
            <!-- 商品列表-配饰系列-->            
            <div class="st_block">
                <ul class="clearfix list">
                    <li class="item">
                        <div class="item_merchandise">
                           <a href="#">
                                <img src="../img/brand_about/merchandise.jpg" width="267" alt="">   
                            </a>
                        </div>
                        <div class="item_brands">
                            <a href="#">Calvin Klein CK卡尔文.克莱恩</a>
                        </div>
                        <div class="item_profile">
                            <a href="#">Glam透明系列 黑色极简透明表盘石英中性腕表 CK手表 时装表 女表 K9423107</a>
                        </div>
                        <span>¥199</span>
                    </li>
                    <li class="item">
                        <div class="item_merchandise">
                           <a href="#">
                                <img src="../img/brand_about/merchandise.jpg" width="267" alt="">   
                            </a>
                        </div>
                        <div class="item_brands">
                            <a href="#">Calvin Klein CK卡尔文.克莱恩</a>
                        </div>
                        <div class="item_profile">
                            <a href="#">Glam透明系列 黑色极简透明表盘石英中性腕表 CK手表 时装表 女表 K9423107</a>
                        </div>
                        <span>¥199</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <div class="foot">
        <div class="_foot w">
            <div class="foot_top">
                <ul class="clearfix">
                    <li class="clearfix">
                        <a href="./about.html" class="clearfix fl">
                            <img src="../img/index/footer_message01.jpg" alt="">
                        </a>
                        <div class="f_top_con fl">
                            <p>正品保障</p>
                            <p><a href="./about.html">品牌授权,官方验真</a></p>
                        </div>
                    </li>
                    <li class="clearfix">
                        <a href="./about.html" class="clearfix fl">
                            <img src="../img/index/footer_message02.jpg" alt="">
                        </a>
                        <div class="f_top_con fl">
                            <p>专柜发货</p>
                            <p><a href="./about.html">专柜直接或到店自提</a></p>
                        </div>
                    </li>
                    <li class="clearfix">
                        <a href="./about.html" class="clearfix fl">
                            <img src="../img/index/footer_message03.jpg" alt="">
                        </a>
                        <div class="f_top_con fl">
                            <p>无忧售后</p>
                            <p><a href="./about.html">7天无理由退换货</a></p>
                        </div>
                    </li>
                    <li class="clearfix">
                        <a href="./about.html" class="clearfix fl">
                            <img src="../img/index/footer_message04.jpg" alt="">
                        </a>
                        <div class="f_top_con fl">
                            <p>VIP服务</p>
                            <p><a href="./about.html">享品牌会员售前售后服务</a></p>
                        </div>
                    </li>
                    <li class="clearfix">
                        <a href="./about.html" class="clearfix fl">
                            <img src="../img/index/footer_message05.jpg" alt="">
                        </a>
                        <div class="f_top_con fl">
                            <p>权威荣誉</p>
                            <p><a href="./about.html">商务部授予诚信示范企业</a></p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="foot_mid">
                <ul class="_mid_con clearfix">
                    <li>
                        <span>服务保障</span>
                        <ul class="_mid_c">
                            <li><a href="./about.html">品牌授权正品</a></li>
                            <li><a href="./about.html">品牌客服</a></li>
                            <li><a href="./about.html">预约到店体验</a></li>
                            <li><a href="./about.html">7天无理由退换</a></li>                            
                        </ul>
                    </li>
                    <li>
                        <span>使用帮助</span>
                        <ul class="_mid_c">
                            <li><a href="./about.html">常见问题</a></li>
                            <li><a href="./about.html">会员制度</a></li>
                            <li><a href="./about.html">集团采购</a></li>
                            <li><a href="./about.html">礼品卡</a></li>                            
                        </ul>
                    </li>
                    <li>
                        <span>支付方式</span>
                        <ul class="_mid_c">
                            <li><a href="./about.html">到店付款</a></li>
                            <li><a href="./about.html">货到付款</a></li>
                            <li><a href="./about.html">在线支付</a></li>
                            <li><a href="./about.html">余额支付</a></li>
                            <li><a href="./about.html">分期付款</a></li>                            
                        </ul>
                    </li>
                    <li>
                        <span>配送方式</span>
                        <ul class="_mid_c">
                            <li><a href="./about.html">配送说明</a></li>
                            <li><a href="./about.html">专柜自提</a></li>
                            <li><a href="./about.html">运费说明</a></li>
                            <li><a href="./about.html">验货签收</a></li>                            
                        </ul>
                    </li>
                    <li>
                        <span>售后服务</span>
                        <ul class="_mid_c">
                            <li><a href="./about.html">品牌售后</a></li>
                            <li><a href="./about.html">售后咨询</a></li>
                            <li><a href="./about.html">退换政策</a></li>
                            <li><a href="./about.html">发票保障</a></li>                            
                        </ul>
                    </li>
                    <li class="_con_app">
                        <span>第五大道APP</span>
                        <img src="../img/index/er01.jpg" alt="">
                    </li>
                    <li class="_con_weibo">
                        <span>第五大道微博</span>
                        <img src="../img/index/er02.jpg" alt="">
                    </li>
                </ul>
            </div>
            <div class="foot_btm">
                <div class="_btm_t">
                    <a href="#">箱包</a> 丨
                    <a href="#">美妆</a> 丨
                    <a href="#">服饰</a> 丨
                    <a href="#">腕表</a> 丨
                    <a href="#">配饰</a> 丨
                    <a href="#">鞋靴</a> 丨
                    <a href="#">特惠</a> 丨
                    <a href="#">礼品区</a>                    
                </div>
                <div class="_btm_m">
                    <a href="#">关于第五大道</a> 丨
                    <a href="#">网站地图</a> 丨
                    <a href="#">品牌合作区</a> 丨
                    <a href="#">媒体聚焦</a> 丨
                    <a href="#">商务合作</a> 丨
                    <a href="#">商家合作</a> 丨
                    <a href="#">加入第五大道</a> 丨
                    <a href="#">友情链接</a> 丨
                    <a href="#">奢尚志</a> 丨
                    <a href="#">联系我们</a> 丨
                    <a href="#">投诉建议</a>
                    <p>Copyright © 2008-2016 瑞美嘉信国际信息技术（北京）有限公司  版权所有京ICP备09012701号-1 京公网安备110105007400号 食品经营许可证号：</p>                   
                </div>
                <div class="_btm_b">
                    <a href="#"><img src="../img/index/btm01.jpg" alt=""></a>
                    <a href="#"><img src="../img/index/btm02.jpg" alt=""></a>
                    <a href="#"><img src="../img/index/btm03.jpg" alt=""></a>                    
                </div>                
            </div>
        </div>
    </div>
    <!-- 侧栏背景 -->
	<div class="bg"></div>
	<!-- 侧栏注册 -->
	<div class="login_block">
		<div class="login_title">
			<span>登录第五大道</span>
			<i class="close"></i>
		</div>
		<div class="login_box">
			<p>登录用户名：</p>
			<input type="text" class="username">
			<p>登录密码：</p>
			<input type="password" class="password">
			<div class="btn">
				<span>登陆</span>
			</div>
			<div class="login_problem">
				<a href="#" class="fl">免费注册</a>
				<a href="#" class="fr">忘记登录密码?</a>
			</div>
			<div class="login_other">
				<span>合作网站账号登录：</span>
			</div>
			<div class="login_other_img">
				<img src="../img/new/login_boxqq.png" alt="">
				<img src="../img/new/login_boxsina.png" alt="">
				<img src="../img/new/login_boxweixin.png"alt="">
			</div>
		</div>
	</div>
	<!-- 侧栏聊天 -->
	<div class="chat">
		<div class="chat_header">
			<div class="chat_header_fl">
				<i class="head"></i>
				<span>kirs</span>
			</div>
			<div class="chat_header_fr">
				<div class="chat_header_tip close"></div>
				<div class="chat_header_tip full"></div>
				<div class="chat_header_tip down"></div>
			</div>
		</div>
		<div class="chat_body">
			<div class="chat_body_img">
			</div>
			<ul class="chat_body_contain">
					<li>
						<div class="chat_kefu clearfix">
								<i></i>
								<p>我是今天的值班客服，很高兴为您服务。请问您需要咨询哪方面的问题？为了更好的跟踪服务效果，请在对话结束后对我的服务满意度进行评价，非常感谢您的支持。</p>	
						</div>
						<p class="time">14:32:50</p>
					</li>
					<li>
						<div class="chat_kefu clearfix">
								<i></i>
								<p>我是今天的值班客服，很高兴为您服务。请问您需要咨询哪方面的问题？为了更好的跟踪服务效果，请在对话结束后对我的服务满意度进行评价，非常感谢您的支持。</p>	
						</div>
						<p class="time">14:32:50</p>
					</li>
				<!-- 	<li>
						<div class="chat_me clearfix">
								<i></i>
								<p>我是今天的值班客服，很高兴为您服务。请	问您需要咨询哪方面的问题？为了更好的跟踪服	务效果，请在对话结束后对我的服务满意度进行	评价，非常感谢您的支持。</p>
						</div>
						<p class="time me_time">14:32:50</p>
					</li> -->
			</ul>		
		</div>
		<div class="chat_foot">
			<div class="look">
				<div class="box_look">
					<ul class="look_box " id="old_look">
						<li><img src="../img/look/1.png" title="wx"></li>
						<li><img src="../img/look/2.png" title="tx"></li>
						<li><img src="../img/look/3.png" title="hx"></li>
						<li><img src="../img/look/4.png" title="dy"></li>
						<li><img src="../img/look/5.png" title="ll"></li>
						<li><img src="../img/look/6.png" title="sj"></li>
						<li><img src="../img/look/7.png" title="dk"></li>
						<li><img src="../img/look/8.png" title="jy"></li>
						<li><img src="../img/look/9.png" title="zj"></li>
						<li><img src="../img/look/10.png" title="gg"></li>
						<li><img src="../img/look/11.png" title="kx"></li>
						<li><img src="../img/look/12.png" title="zb"></li>
						<li><img src="../img/look/13.png" title="yw"></li>
						<li><img src="../img/look/14.png" title="dn"></li>
						<li><img src="../img/look/15.png" title="sh"></li>
						<li><img src="../img/look/16.png" title="ku"></li>
						<li><img src="../img/look/17.png" title="fn"></li>
						<li><img src="../img/look/18.png" title="ws"></li>
						<li><img src="../img/look/19.png" title="ok"></li>
						<li><img src="../img/look/20.png" title="xh"></li>
					</ul>
					<ul class="look_box" id="new_look">
						<li><img src="../img/look/301.png" title="wx"></li>
						<li><img src="../img/look/302.png" title="tx"></li>
						<li><img src="../img/look/303.png" title="hx"></li>
						<li><img src="../img/look/304.png" title="dy"></li>
						<li><img src="../img/look/305.png" title="ll"></li>
						<li><img src="../img/look/306.png" title="sj"></li>
						<li><img src="../img/look/307.png" title="dk"></li>
						<li><img src="../img/look/308.png" title="jy"></li>
						<li><img src="../img/look/309.png" title="zj"></li>
						<li><img src="../img/look/310.png" title="gg"></li>
						<li><img src="../img/look/311.png" title="kx"></li>
						<li><img src="../img/look/312.png" title="zb"></li>
						<li><img src="../img/look/313.png" title="yw"></li>
						<li><img src="../img/look/314.png" title="dn"></li>
						<li><img src="../img/look/315.png" title="sh"></li>
						<li><img src="../img/look/316.png" title="ku"></li>
						<li><img src="../img/look/317.png" title="fn"></li>
						<li><img src="../img/look/318.png" title="ws"></li>
						<li><img src="../img/look/319.png" title="ok"></li>
					</ul>
				</div>
				
				<div class="active_look">
					<a class="look_item active" href="#old_look">
						<img src="../img/look/item1.png" title="表情">
					</a>
					<a class="look_item" href="#new_look" title="like">
						<img src="../img/new/love.png" title="表情">
					</a>
				</div>
			</div>
			<ul class="chat_tool">
				<li title="表情">
				</li>
				<li title="图片">
					<input type="file" class="file">
				</li>
				<li title="文件">
					<input type="file" class="file">
				</li>
				<li title="保存"></li>
				<li title="评价"></li>
				<li>
					<span>更多 ></span>
				</li>
			</ul>
			<p placeholder="我想问..." class="me_say" contentEditable></p>
			<div class="send">
				<span>小能科技</span>
				<div class="send_tip">
					<span>▼</span>
					<ul>
						<li class="send_active">Enter</li>
						<li>Ctrl+Enter</li>
					</ul>
				</div>
				<button>发送</button>
				<a href="#">结束回话</a>
			</div>
		</div>
	</div>
	<!-- 侧栏最小化聊天框 -->
	<div class="chat_down">
		<img src="../img/new/head.jpg" alt="">
		<span>kirs</span>
	</div>
	<!-- 侧栏反馈 -->
	<div class="feeback">
		<div class="feeback_nav">
			<span>意见反馈</span>
			<img src="../img/new/feedback_c_top02.jpg" alt="">
		</div>
		<ul class="feeback_header">
			<li>您有什么建议，咨询或投诉，都可以在这里留言给我们。</li>
			<li>我们将赠<span>送价值100元现金券</span>表示感谢，每周我们将抽出一名给我们留言的幸运用户，</li>
			<li>在</span>送出价值199元MOMA防辐射镜架</span>（送完为止）</li>
			<li>您的意见，会直接发送至第五大道CEO邮箱，感谢您的支持！</li>
		</ul>
		<div class="feeback_body">
			<p>* 内容 ：</p>
			<textarea name="" id="" cols="30" rows="10"></textarea>
			<p>* 邮箱 ：</p>
			
			<input type="text" class="email" placeholder="请输入邮箱">
			<p>* 手机 ：</p>
			<input type="text"  class="phone" placeholder="请输入手机号" >
		</div>
		<div class="feeback_foot">
			<button>确定</button>
		</div>
	</div>
	<!-- 左侧拦 -->
	<div class="right_menu">
		<dl>
			<dt class="menu_nav">
				<ul class="menu_block3">
					<li class="menu_cart" data-name="cart_info">
						<a class="logo_cart"></a>
					</li>
					<li class="menu_zidan" data-name="zidan_info">
						<a class="logo_zidan">
							<div class="tab-tip">
								我的资产
							</div>
						</a>
					</li>
					<li class="menu_like" data-name="like_info">
						<a class="logo_like">
							<div class="tab-tip">
								我喜欢商品
							</div>
						</a>
					</li>
					<li class="menu_kefu">
						<a class="logo_kefu">
							<div class="tab-tip">
								联系客服
							</div>
						</a>
					</li>
				</ul>
				<ul class="menu_block4">
					<li class="menu_weixin">
						<a class="logo_weixin">
							<div class="tab-tip tip_weixin">
								<img src="../img/new/weixin_img.png" alt="">
							</div>
						</a>
					</li>
					<li class="menu_fankui">
						<a class="logo_fankui">
							<div class="tab-tip">
								意见反馈
							</div>
						</a>
					</li>
					<li class="menu_line">
						<a class="logo_line">
							<div class="tab-tip">
								联系我们
							</div>
						</a>
					</li>
					<li class="menu_backtop">
						<a class="logo_backtop">
							<div class="tab-tip">
								返回顶部
							</div>
						</a>
					</li>
				</ul>
			</dt>
			<dd>
				<div class="meu_info">
					<div class="info_active cart_info">
						<div class="active_title">
							<span>购物袋</span>
							<i></i>
						</div>
						<div class="shop_box">
							<div class="shop_img">
								<img src="../img/new/shopping_bag.png" alt="" >
							</div>
							<p>您的购物袋还没有商品</p>
							<p>再去逛逛吧！</p>
						</div>
					</div>
					<div class="info_active zidan_info">
						<div class="active_title">
							<span>我的资产</span>
							<i></i>
						</div>
						<ul class="zidan_box">
							<li>
								<a href="#">
									<b>1000</b>
									<span>积分</span>
								</a>
							</li>
							<li>
								<a href="#">
									<b>7</b>
									<span>优惠券</span>
								</a>
							</li>
							<li>
								<a href="#">
									<b>￥0.00</b>
									<span>余额</span>
								</a>
							</li>
						</ul>
						<ul class="zidan_map_box clearfix">
							<li class="coupon">
								<ul class="coupon_content">
									<li>
										<b class="coupon_fl">新人1元购</b>
										<span class="coupon_fr" >有效期</span>
									</li>
									<li>
										<strong class="coupon_fl">￥98.00</strong>
										<span class="coupon_fr">2017-03-09 19:36:55</span>
									</li>
									<li>
										<span class="coupon_fl">满99.00使用</span>
										<span class="coupon_fr">2017-03-09 19:36:55</span>
									</li>
								</ul>
							</li>
							<li class="coupon">
								<ul class="coupon_content">
									<li>
										<b class="coupon_fl">新人1元购</b>
										<span class="coupon_fr" >有效期</span>
									</li>
									<li>
										<strong class="coupon_fl">￥98.00</strong>
										<span class="coupon_fr">2017-03-09 19:36:55</span>
									</li>
									<li>
										<span class="coupon_fl">满99.00使用</span>
										<span class="coupon_fr">2017-03-09 19:36:55</span>
									</li>
								</ul>
							</li>
							<li class="coupon">
								<ul class="coupon_content">
									<li>
										<b class="coupon_fl">新人1元购</b>
										<span class="coupon_fr" >有效期</span>
									</li>
									<li>
										<strong class="coupon_fl">￥98.00</strong>
										<span class="coupon_fr">2017-03-09 19:36:55</span>
									</li>
									<li>
										<span class="coupon_fl">满99.00使用</span>
										<span class="coupon_fr">2017-03-09 19:36:55</span>
									</li>
								</ul>
							</li>
							<li class="coupon">
								<ul class="coupon_content">
									<li>
										<b class="coupon_fl">新人1元购</b>
										<span class="coupon_fr" >有效期</span>
									</li>
									<li>
										<strong class="coupon_fl">￥98.00</strong>
										<span class="coupon_fr">2017-03-09 19:36:55</span>
									</li>
									<li>
										<span class="coupon_fl">满99.00使用</span>
										<span class="coupon_fr">2017-03-09 19:36:55</span>
									</li>
								</ul>
							</li>
							<li class="coupon">
								<ul class="coupon_content">
									<li>
										<b class="coupon_fl">新人1元购</b>
										<span class="coupon_fr" >有效期</span>
									</li>
									<li>
										<strong class="coupon_fl">￥98.00</strong>
										<span class="coupon_fr">2017-03-09 19:36:55</span>
									</li>
									<li>
										<span class="coupon_fl">满99.00使用</span>
										<span class="coupon_fr">2017-03-09 19:36:55</span>
									</li>
								</ul>
							</li>
							<li class="coupon">
								<ul class="coupon_content">
									<li>
										<b class="coupon_fl">新人1元购</b>
										<span class="coupon_fr" >有效期</span>
									</li>
									<li>
										<strong class="coupon_fl">￥98.00</strong>
										<span class="coupon_fr">2017-03-09 19:36:55</span>
									</li>
									<li>
										<span class="coupon_fl">满99.00使用</span>
										<span class="coupon_fr">2017-03-09 19:36:55</span>
									</li>
								</ul>
							</li>
							<li class="coupon">
								<ul class="coupon_content">
									<li>
										<b class="coupon_fl">新人1元购</b>
										<span class="coupon_fr" >有效期</span>
									</li>
									<li>
										<strong class="coupon_fl">￥98.00</strong>
										<span class="coupon_fr">2017-03-09 19:36:55</span>
									</li>
									<li>
										<span class="coupon_fl">满99.00使用</span>
										<span class="coupon_fr">2017-03-09 19:36:55</span>
									</li>
								</ul>
							</li>
							<li class="coupon">
								<ul class="coupon_content">
									<li>
										<b class="coupon_fl">新人1元购</b>
										<span class="coupon_fr" >有效期</span>
									</li>
									<li>
										<strong class="coupon_fl">￥98.00</strong>
										<span class="coupon_fr">2017-03-09 19:36:55</span>
									</li>
									<li>
										<span class="coupon_fl">满99.00使用</span>
										<span class="coupon_fr">2017-03-09 19:36:55</span>
									</li>
								</ul>
							</li>
							<li class="coupon">
								<ul class="coupon_content">
									<li>
										<b class="coupon_fl">新人1元购</b>
										<span class="coupon_fr" >有效期</span>
									</li>
									<li>
										<strong class="coupon_fl">￥98.00</strong>
										<span class="coupon_fr">2017-03-09 19:36:55</span>
									</li>
									<li>
										<span class="coupon_fl">满99.00使用</span>
										<span class="coupon_fr">2017-03-09 19:36:55</span>
									</li>
								</ul>
							</li>
							<li class="coupon">
								<ul class="coupon_content">
									<li>
										<b class="coupon_fl">新人1元购</b>
										<span class="coupon_fr" >有效期</span>
									</li>
									<li>
										<strong class="coupon_fl">￥98.00</strong>
										<span class="coupon_fr">2017-03-09 19:36:55</span>
									</li>
									<li>
										<span class="coupon_fl">满99.00使用</span>
										<span class="coupon_fr">2017-03-09 19:36:55</span>
									</li>
								</ul>
							</li>
						</ul>
						<p class="coupon_more">
							没有更多咯~
						</p>
					</div>
					<div class="info_active like_info">
						<div class="active_title">
							<span>我喜欢的商品</span>
							<i></i>
						</div>
						<div class="shop_box">
							<div class="shop_img">
								<img src="../img/new/shopping_bag.png" alt="" >
							</div>
							<p>您还没有收藏过商品！</p>
							<p>看看下面可能有你喜欢的！</p>
						</div>
					</div>
				</div>
			</dd>
		</dl>
	</div>
    <script src="../js/jquery.js"></script>
    <script src="../js/right-menu.js"></script>
    <script src="../js/brand_about.js"></script>
</body>
</html>