<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" href="../css/weixin/weixin.css">
</head>
<body>
	<div class="nav">
		<ul>
			<li>
				<a href="###">首页</a>
			</li>
			<li>
				<a href="###">最新上架</a>
			</li>
			<li>
				<a href="###">所有品牌</a>
			</li>
			<li>
				<a href="###">女士</a>
			</li>
			<li>
				<a href="###">男士</a>
			</li>
			<li>
				<a href="###">腕表</a>
			</li>
			<li>
				<a href="###">箱包</a>
			</li>
			<li>
				<a href="###">美妆</a>
			</li>
			<li>
				<a href="###">生活馆</a>
			</li>
			<li>
				<a href="###">海外馆</a>
			</li>
			<li>
				<a href="###">时尚专题</a>
			</li>
			<li class="top">
				<a href="#">
					<img src="../img/weixin/1.png" alt="">
				</a>
			</li>
		</ul>
	</div>
	<div class="page">
		<div class="content">
			<div>
				<img src="../img/weixin/1.jpg" alt="">
				<img src="../img/weixin/2.jpg" alt="">
				<img src="../img/weixin/3.jpg" alt="" usemap="#map1">
				<map name="map1" id="map1">
					<area coords="78,22,576,345" href="http://www.baidu.com" target="_blank" onfocus="this.blur()">
					<area shape="" coords="613,91,985,488" href="###" onfocus="this.blur()">
					<area shape="" coords="42,412,377,881" href="###" onfocus="this.blur()">
					<area shape="" coords="514,650,981,972" href="###" onfocus="this.blur()">
				</map>
				<img src="../img/weixin/4.jpg" alt="" usemap="#map2">
				<map name="map2" id="map2">
					<area shape="" coords="49,117,471,463" href="###" onfocus="this.blur()">
					<area shape="" coords="545,64,932,398" href="###" onfocus="this.blur()">
					<area shape="" coords="123,508,566,866" href="###" onfocus="this.blur()">
					<area shape="" coords="638,436,965,911" href="###" onfocus="this.blur()">
				</map>
				<img src="../img/weixin/5.jpg" alt="" usemap="#map3">
				<map name="map3" id="map3">
					<area shape="" coords="11,21,416,341" href="###" onfocus="this.blur()">
					<area shape="" coords="443,131,981,409" href="###" onfocus="this.blur()">
					<area shape="" coords="203,468,640,812" href="###" onfocus="this.blur()">
					<area shape="" coords="692,530,972,854" href="###" onfocus="this.blur()">
				</map>
				<img src="../img/weixin/6.jpg" alt="" usemap="#map4">
				<map name="map4" id="map4">
					<area shape="" coords="680,6,981,287" href="###" onfocus="this.blur()">
					<area shape="" coords="91,17,625,431" href="###" onfocus="this.blur()">
					<area shape="" coords="628,362,931,821" href="###" onfocus="this.blur()">
					<area shape="" coords="25,463,538,822" href="###" onfocus="this.blur()">
				</map>
				<img src="../img/weixin/7.jpg" alt="">
				<img src="../img/weixin/8.jpg" alt="">
				<img src="../img/weixin/9.jpg" alt="">
				<img src="../img/weixin/10.jpg" alt="">
				<img src="../img/weixin/11.jpg" alt="" usemap="#map5">
				<map name="map5" id="#map5">
					<area shape="" coords="429,60,575,180" href="###" onfocus="this.blur()">
					<area shape="" coords="779,216,996,290" href="###" onfocus="this.blur()">
					<area shape="" coords="33,371,340,574" href="###" onfocus="this.blur()">
					<area shape="" coords="348,376,653,574" href="###" onfocus="this.blur()">
					<area shape="" coords="662,375,962,583" href="###" onfocus="this.blur()">
				</map>
			</div>
			
		</div>
		
	</div>
	
</body>
</html>